<section class=" about text-center vh-100  d-flex justify-content-center align-items-center">
       <div class="container">
        <div class="row">
            <h2 class="title fs-1">About component</h2>
            <div class="titleshape d-flex justify-content-center align-items-center  ">
                <div class="shape1 me-3"></div>
                <i class="fa-solid fa-star text-light  " ></i>
                <div class="shape1 ms-3"></div>
            </div>
            <div class="col-md-6 mt-2">
                <div class="item1 text-light">
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <div class="item1 text-light">
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                </div>
            </div>
        </div>
       </div>
   
</section>


<section class="footer text-center text-light p-5">
     <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="item">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <h3>AROUND THE WEB</h3>
                    <div class="icons d-flex justify-content-center align-items-center gap-2">
                        <div class="icon d-flex justify-content-center align-items-center rounded-circle">
                           <i class="fa-brands fa-facebook"></i>
                        </div>
                        <div class="icon d-flex justify-content-center align-items-center rounded-circle">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="icon d-flex justify-content-center align-items-center rounded-circle">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                        <div class="icon d-flex justify-content-center align-items-center rounded-circle">
                            <i class="fa-solid fa-globe"></i>
                        </div>
               </div>
                   
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                  
                </div>
            </div>
        </div>
     </div>
</section>


<div class="copyright text-center py-3">
    <p>Copyright © Your Website 2021</p>
</div>