<section class=" contact text-center vh-100  d-flex justify-content-center align-items-center">
    <div class="container">
     <div class="row">
         <h2 class="title fs-1">Contact component</h2>
         <div class="titleshape d-flex justify-content-center align-items-center  ">
             <div class="shape1 me-3"></div>
             <i class="fa-solid fa-star   " ></i>
             <div class="shape1 ms-3"></div>
         </div>
         <div class="col-md-12 mt-2">
            <form action="" class="w-75 mx-auto">

                <div class="form-floating mb-3">
                    <input type="text" class="form-control border-0 border-bottom border-black rounded-0 " id="userName" placeholder="Enter userName">
                    <label for="username">Username:</label>
                  </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control border-0 border-bottom border-black rounded-0" id="userAge" placeholder="Enter userAge">
                    <label for="userAge">userAge:</label>
                  </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control border-0 border-bottom border-black rounded-0" id="userEmail" placeholder="Enter userEmail">
                    <label for="userEmail">userEmail:</label>
                    </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control border-0 border-bottom border-black rounded-0" id="userpassword" placeholder="Enter userpassword">
                    <label for="userpassword">userpassword:</label>
                    </div>

                    <div class="form-floating mb-3">
                        <button class="submit rounded-3">send Message</button>
                        </div>
            </form>
            
         </div>
         
     </div>
    </div>

</section>


<section class="footer text-center text-light p-5">
  <div class="container">
     <div class="row">
         <div class="col-md-4">
             <div class="item">
                 <h3>LOCATION</h3>
                 <p>2215 John Daniel Drive</p>
                 <p>Clark, MO 65243</p>
             </div>
         </div>
         <div class="col-md-4">
             <div class="item">
                 <h3>AROUND THE WEB</h3>
                 <div class="icons d-flex justify-content-center align-items-center gap-2">
                     <div class="icon d-flex justify-content-center align-items-center rounded-circle">
                        <i class="fa-brands fa-facebook"></i>
                     </div>
                     <div class="icon d-flex justify-content-center align-items-center rounded-circle">
                         <i class="fa-brands fa-twitter"></i>
                     </div>
                     <div class="icon d-flex justify-content-center align-items-center rounded-circle">
                         <i class="fa-brands fa-linkedin"></i>
                     </div>
                     <div class="icon d-flex justify-content-center align-items-center rounded-circle">
                         <i class="fa-solid fa-globe"></i>
                     </div>
            </div>
                
             </div>
         </div>
         <div class="col-md-4">
             <div class="item">
                 <h3>ABOUT FREELANCER</h3>
                 <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
               
             </div>
         </div>
     </div>
  </div>
</section>


<div class="copyright text-center py-3">
 <p>Copyright © Your Website 2021</p>
</div>
